node-red/cooling-tower-2019-12-16.json
[{"id":"b88c1c32.0d818","type":"tab","label":"CT KWH","disabled":false,"info":""},{"id":"6eef29c0.391298","type":"tab","label":"CT Motor","disabled":false,"info":""},{"id":"725009d8.8aa5f8","type":"tab","label":"CT Weld","disabled":false,"info":""},{"id":"dff90ef.bd89df","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c0a3f73.e7c7e08","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"scada_iot","tz":"GMT +7"},{"id":"2ed59c5f.1190d4","type":"websocket-listener","z":"","path":"/ws/ct_kwh","wholemsg":"false"},{"id":"64cf89ba.e67658","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c20350c.74ffc8","type":"websocket-listener","z":"","path":"/ws/motor_status","wholemsg":"false"},{"id":"e5ef441a.1b2aa8","type":"websocket-listener","z":"","path":"/ws/motor_sensor","wholemsg":"false"},{"id":"ab304386.52dc5","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"scada_iot","tz":"GMT +7"},{"id":"157c54b8.316c7b","type":"websocket-listener","z":"","path":"/ws/motor_alarm","wholemsg":"false"},{"id":"d5c7b4d7.4231c8","type":"websocket-listener","z":"","path":"/ws/ct_motor_g","wholemsg":"false"},{"id":"50a0fa1c.ad1004","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1be3f673.0a45aa","type":"websocket-listener","z":"","path":"/ws/ct_sensor","wholemsg":"false"},{"id":"37e868fa.1e99f8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"scada_iot","tz":"GMT +7"},{"id":"792830aa.ce482","type":"websocket-listener","z":"","path":"/ws/ct_sensor_g","wholemsg":"false"},{"id":"f12f4b7f.ed3958","type":"websocket-listener","z":"","path":"/ws/ct_sensor_alarm","wholemsg":"false"},{"id":"cec949d8.5f2dd8","type":"mqtt in","z":"b88c1c32.0d818","name":"kepserver - \"CT_KWH\"","topic":"CT_KWH","qos":"0","datatype":"json","broker":"dff90ef.bd89df","x":140,"y":40,"wires":[["8454aac9.0bca38","41393818.08c398"]]},{"id":"8454aac9.0bca38","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":40,"wires":[]},{"id":"41393818.08c398","type":"jquerify","z":"b88c1c32.0d818","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' +\n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"KWH\"){\n        tag[val.id.split(\".\")[3]] = val.v\n        global.set('kwh', val.v)\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.date = date\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["d8d3383b.a4bd48","9c1c660c.503958"]]},{"id":"d8d3383b.a4bd48","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":80,"wires":[]},{"id":"9c1c660c.503958","type":"jquerify","z":"b88c1c32.0d818","name":"Set KWH Consum","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\nif(!global.get('kwh_old')){\n    global.set('kwh_old', msg.tag.KWH)\n}\n// if(second%10 == 00){\nif(hour == 6 && minute == 59 && second == 00){\n    // gloal.set('kwh_consumption', global.get('kwh') - global.get('kwh_old'))\n    global.set('kwh_old', global.get('kwh'))\n}\nif(minute == 59 && second == 00){\n    global.set('kwh_consumption', global.get('kwh') - global.get('kwh_old'))\n    // global.set('kwh_old', global.get('kwh'))\n}\nmsg.rbe = global.get('kwh_consumption')\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":120,"wires":[["4a150e1e.6acfc","f8d97a5d.a81938"]]},{"id":"4a150e1e.6acfc","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"kwh_at_6","targetType":"msg","x":330,"y":120,"wires":[]},{"id":"f8d97a5d.a81938","type":"rbe","z":"b88c1c32.0d818","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"rbe","x":330,"y":160,"wires":[["5a48f6f.cba0508","3c0fcefd.1396a2"]]},{"id":"5a48f6f.cba0508","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":470,"y":160,"wires":[]},{"id":"c3d8e27d.86fb","type":"jquerify","z":"b88c1c32.0d818","name":"Parsing topic","func":"date = new Date(msg.date)\ndate.setHours(date.getHours() - 6);\ndate = date.getFullYear()+'-'+\n        (date.getMonth()+1)+'-'+\n        date.getDate()\nkwh = global.get('kwh') - global.get('kwh_old')\nmsg.payload = {\n    x: date,\n    y: kwh\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":400,"wires":[["81f0de8f.97b04","402c6bcc.8c17b4"]]},{"id":"81f0de8f.97b04","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":440,"wires":[]},{"id":"3c0fcefd.1396a2","type":"jquerify","z":"b88c1c32.0d818","name":"Parsing topic","func":"date = new Date(msg.date)\ndate.setHours(date.getHours() - 6);\ndate = date.getFullYear()+'-'+\n        (date.getMonth()+1)+'-'+\n        date.getDate()\nmsg.topic = 'INSERT INTO consumption (date, kwh)'+\n            'VALUES (\"'+ date +'\", \"'+ global.get('kwh_consumption') +'\")'+\n            'ON DUPLICATE KEY UPDATE '+\n            'kwh=\"'+ global.get('kwh_consumption') +'\"'\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["b99ad409.119a38","d25b471c.7d4048"]]},{"id":"b99ad409.119a38","type":"mysql","z":"b88c1c32.0d818","mydb":"c0a3f73.e7c7e08","name":"","x":320,"y":240,"wires":[["1c50cf34.6edd71"]]},{"id":"1c50cf34.6edd71","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":330,"y":280,"wires":[]},{"id":"402c6bcc.8c17b4","type":"websocket out","z":"b88c1c32.0d818","name":"","server":"2ed59c5f.1190d4","client":"","x":120,"y":440,"wires":[]},{"id":"d25b471c.7d4048","type":"debug","z":"b88c1c32.0d818","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":470,"y":200,"wires":[]},{"id":"c03d7c01.4dba9","type":"mqtt in","z":"6eef29c0.391298","name":"kepserver - \"CT_MOTOR_STATUS\"","topic":"CT_MOTOR_STATUS","qos":"0","datatype":"json","broker":"64cf89ba.e67658","x":160,"y":40,"wires":[["d146eb89.a70c38","d99b5791.e7f5c8"]]},{"id":"d146eb89.a70c38","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":40,"wires":[]},{"id":"d99b5791.e7f5c8","type":"jquerify","z":"6eef29c0.391298","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"MOTOR_STATUS\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["d0b5e3b1.0002","b5afe6ad.a3f018"]]},{"id":"d0b5e3b1.0002","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":80,"wires":[]},{"id":"8feebf0d.f0305","type":"websocket out","z":"6eef29c0.391298","name":"","server":"8c20350c.74ffc8","client":"","x":200,"y":160,"wires":[]},{"id":"6bc23c69.c6dc74","type":"mqtt in","z":"6eef29c0.391298","name":"kepserver - \"CT_MOTOR_SENSOR\"","topic":"CT_MOTOR_SENSOR","qos":"0","datatype":"json","broker":"64cf89ba.e67658","x":160,"y":240,"wires":[["fb17ec3e.7b22b","3d09f75c.7bd4b8"]]},{"id":"fb17ec3e.7b22b","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":180,"wires":[]},{"id":"3d09f75c.7bd4b8","type":"jquerify","z":"6eef29c0.391298","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"MOTOR_SENSOR\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":280,"wires":[["30346ded.23f6a2","50e440da.3f3e"]]},{"id":"30346ded.23f6a2","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":220,"wires":[]},{"id":"c182203.3f641e","type":"websocket out","z":"6eef29c0.391298","name":"","server":"e5ef441a.1b2aa8","client":"","x":200,"y":360,"wires":[]},{"id":"50e440da.3f3e","type":"jquerify","z":"6eef29c0.391298","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["c182203.3f641e","b3e707de.82afc8","47af1455.31ed6c"]]},{"id":"b3e707de.82afc8","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":260,"wires":[]},{"id":"b5afe6ad.a3f018","type":"jquerify","z":"6eef29c0.391298","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["ab2e5b5b.2243e8","8feebf0d.f0305"]]},{"id":"ab2e5b5b.2243e8","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":120,"wires":[]},{"id":"c6bdb7b0.b14c98","type":"jquerify","z":"6eef29c0.391298","name":"Compare _motor_limit","func":"passing_array = msg.payload\nmsg.payload = {}\nmsg.payload.alarm = {}\nmsg.body = \"\"\n$(passing_array).each(function( i, val ) {\n    id = i+1\n    if(msg.tag['CTWeldP'+id+'Temp'] || msg.tag['CTWeldP'+id+'Vibe']){\n        if(msg.tag['CTWeldP'+id+'Temp'] > val.temp_limit || msg.tag['CTWeldP'+id+'Vibe'] > val.vibe_limit){\n            msg.payload.alarm[id] = true\n        } else {\n            msg.payload.alarm[id] = false\n        }\n        if(msg.tag['CTWeldP'+id+'Temp'] > val.temp_limit){\n            msg.body += \"<p>Motor 6 Temperature: <span style='color: red'>\"+\n                        parseFloat(msg.tag['CTWeldP'+id+'Temp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n        }\n        if(msg.tag['CTWeldP'+id+'Vibe'] > val.vibe_limit){\n            msg.body += \"<p>Motor 6 Vibration: <span style='color: red'>\"+\n                        parseFloat(msg.tag['CTWeldP'+id+'Vibe']).toFixed(2)+\"</span> mm/s</p><br/>\"\n        }\n    }\n});\nif(msg.body == \"\"){\n    msg.rbeMail = false\n} else {\n    msg.rbeMail = true\n}\nreturn msg","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["1e05ce0b.d0fec2","48bc259c.cf2d8c","39734858.777c28","6c19bc11.b26414"]]},{"id":"47af1455.31ed6c","type":"jquerify","z":"6eef29c0.391298","name":"Get _motor_limit","func":"msg.topic = \"select * from motor_limit\"\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["5a171332.0a63ac","5cdd55bc.42902c"]]},{"id":"5cdd55bc.42902c","type":"mysql","z":"6eef29c0.391298","mydb":"ab304386.52dc5","name":"","x":460,"y":340,"wires":[["dca0813d.13d74","c6bdb7b0.b14c98"]]},{"id":"1e05ce0b.d0fec2","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":400,"wires":[]},{"id":"dca0813d.13d74","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":360,"wires":[]},{"id":"5a171332.0a63ac","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":320,"wires":[]},{"id":"48bc259c.cf2d8c","type":"websocket out","z":"6eef29c0.391298","name":"","server":"157c54b8.316c7b","client":"","x":420,"y":420,"wires":[]},{"id":"39734858.777c28","type":"jquerify","z":"6eef29c0.391298","name":"@/10 min","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\n\n// if(second%15 == 0 ){\nif(minute%10 == 00 && second == 00){\n    msg.rbe = true\n} else {\n    msg.rbe = false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["bbc4fe91.64a06","9f7af7dd.cbcaf8"]]},{"id":"9f7af7dd.cbcaf8","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":200,"wires":[]},{"id":"106a4d6d.b6d933","type":"e-mail","z":"6eef29c0.391298","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":610,"y":920,"wires":[]},{"id":"e33ef8d8.78ccc8","type":"jquerify","z":"6eef29c0.391298","name":"Query","func":"msg.topic = []\n// $(msg.keytag).each(function( i, val ) {\n// })\nfor (i = 1; i <= 10; i++) {\n    if(msg.tag['CTWeldP'+i+'Temp'] || msg.tag['CTWeldP'+i+'Vibe']){\n        msg.topic[i] = querying('ct_m'+i+'_temp',msg.timestamp,msg.tag['CTWeldP'+i+'Temp'])\n        msg.topic[10+i] = querying('ct_m'+i+'_vibe',msg.timestamp,msg.tag['CTWeldP'+i+'Vibe'])\n    }\n}\nreturn msg;\n\nfunction querying(modul,datetime,value){\n    feed = 'INSERT INTO '+modul+\n        ' (datetime,val)'+\n        ' VALUES (\"'+datetime+'\",\"'+value+'\")'+\n        ' ON DUPLICATE KEY UPDATE '+\n        'val=\"'+value+'\"'\n    return feed\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["f0e0ca1b.a03b98","2675eb21.cd0684"]]},{"id":"bbc4fe91.64a06","type":"switch","z":"6eef29c0.391298","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":280,"wires":[["46ecc43c.e6ef7c","f798cd8a.9fe22","e33ef8d8.78ccc8"]]},{"id":"46ecc43c.e6ef7c","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":200,"wires":[]},{"id":"f0e0ca1b.a03b98","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":200,"wires":[]},{"id":"54dfd905.404718","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":240,"wires":[]},{"id":"7a838410.d89b5c","type":"mysql","z":"6eef29c0.391298","mydb":"ab304386.52dc5","name":"","x":880,"y":360,"wires":[[]]},{"id":"f165efbe.81e54","type":"jquerify","z":"6eef29c0.391298","name":"Query","func":"msg.topic = msg.payload\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["7a838410.d89b5c","1a6e2123.f5b05f"]]},{"id":"1a6e2123.f5b05f","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":280,"wires":[]},{"id":"dea5126b.7eadd","type":"jquerify","z":"6eef29c0.391298","name":"email[body]","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.body = \"\"\nmsg.rbe = false\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press']){\n    msg.body += \"<p>Pressure IN: <span style='color:red'>\"+msg.tag['CTInPress']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.body += \"<p>Temperature IN: <span style='color:red'>\"+msg.tag['CTInTemp']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press']){\n    msg.body += \"<p>Pressure OUT: <span style='color:red'>\"+msg.tag['CTOutPress']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.body += \"<p>Temperature OUT: <span style='color:red'>\"+msg.tag['CTOutTemp']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":840,"wires":[["dffa2385.31346","3d4b53f3.c2ba7c"]]},{"id":"3d4b53f3.c2ba7c","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":840,"wires":[]},{"id":"2039e988.8f79d6","type":"jquerify","z":"6eef29c0.391298","name":"email setup","func":"msg = {\n    topic   : \"ALARM Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_ct_weld <symptomp.alarm@gmail.com>\",\n    to      : \"rezza.anwary.9@gmail.com\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":590,"y":880,"wires":[["106a4d6d.b6d933"]]},{"id":"dffa2385.31346","type":"switch","z":"6eef29c0.391298","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":880,"wires":[["2039e988.8f79d6"]]},{"id":"ed294a25.e8d698","type":"websocket out","z":"6eef29c0.391298","name":"","server":"d5c7b4d7.4231c8","client":"","x":1060,"y":400,"wires":[]},{"id":"f798cd8a.9fe22","type":"jquerify","z":"6eef29c0.391298","name":"Query","func":"msg.payload = msg.tag\nreturn msg\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":400,"wires":[["ed294a25.e8d698","afe5236a.f96e2"]]},{"id":"afe5236a.f96e2","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":360,"wires":[]},{"id":"dcb38f09.bfe86","type":"jquerify","z":"6eef29c0.391298","name":"email setup","func":"msg = {\n    topic   : \"ALARM Pompa Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_pompa_ct <symptomp.alarm@gmail.com>\",\n    to      : \"yonos@toyota.co.id, bunawan@toyota.co.id, romario@toyota.co.id\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nglobal.set('last_ct_motor_email', Date.parse(new Date()))\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["b8253f97.2f2f9"]]},{"id":"b8253f97.2f2f9","type":"e-mail","z":"6eef29c0.391298","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Symptomp ALARM!","x":890,"y":520,"wires":[]},{"id":"6c19bc11.b26414","type":"switch","z":"6eef29c0.391298","name":"","property":"rbeMail","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":440,"wires":[["c454aa21.0c3298"]]},{"id":"c454aa21.0c3298","type":"jquerify","z":"6eef29c0.391298","name":"last email","func":"if(!global.get('last_ct_motor_email')){\n    global.set('last_ct_motor_email', 0)\n}\nmsg.last_ct_motor_email = Date.parse(new Date()) - global.get('last_ct_motor_email')\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["729e23b6.3424fc","74180f86.31a2c"]]},{"id":"729e23b6.3424fc","type":"switch","z":"6eef29c0.391298","name":"","property":"last_ct_motor_email","propertyType":"msg","rules":[{"t":"gte","v":"1000*60*10","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":520,"wires":[["dcb38f09.bfe86"]]},{"id":"74180f86.31a2c","type":"debug","z":"6eef29c0.391298","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":440,"wires":[]},{"id":"bea2606d.8c1ca","type":"mqtt in","z":"725009d8.8aa5f8","name":"kepserver - \"CT_SENSOR\"","topic":"CT_SENSOR","qos":"0","datatype":"json","broker":"50a0fa1c.ad1004","x":130,"y":80,"wires":[["a91c15cd.791648","9b3faf19.6862e"]]},{"id":"a91c15cd.791648","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":80,"wires":[]},{"id":"9b3faf19.6862e","type":"jquerify","z":"725009d8.8aa5f8","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"CT_SENSOR\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["6898a6b6.0d71f8","fb757713.6a8ca8"]]},{"id":"6898a6b6.0d71f8","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":120,"wires":[]},{"id":"1a5ee9d4.d8d476","type":"websocket out","z":"725009d8.8aa5f8","name":"","server":"1be3f673.0a45aa","client":"","x":150,"y":200,"wires":[]},{"id":"fb757713.6a8ca8","type":"jquerify","z":"725009d8.8aa5f8","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["1a5ee9d4.d8d476","810282c0.d1d6d","d5cba5d0.4dcdc8"]]},{"id":"810282c0.d1d6d","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":160,"wires":[]},{"id":"fde8070f.41b778","type":"inject","z":"725009d8.8aa5f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":820,"wires":[["76e60eb6.10677"]]},{"id":"d1cdb95a.7c37f8","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":820,"wires":[]},{"id":"76e60eb6.10677","type":"jquerify","z":"725009d8.8aa5f8","name":"Parsing topic","func":"global.set('kwh_old', 1)\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["d1cdb95a.7c37f8"]]},{"id":"83475849.5630f8","type":"e-mail","z":"725009d8.8aa5f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":770,"y":420,"wires":[]},{"id":"a019deab.d1cb6","type":"jquerify","z":"725009d8.8aa5f8","name":"split ready","func":"msg.topic = []\n$(msg.keytag).each(function( i, val ) {\n    if(val == 'CTInPress'){\n        msg.topic[i] = querying('ct_in_press',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTInTemp'){\n        msg.topic[i] = querying('ct_in_temp',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTOutPress'){\n        msg.topic[i] = querying('ct_out_press',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTOutTemp'){\n        msg.topic[i] = querying('ct_out_temp',msg.timestamp,msg.tag[val])\n    }\n    // msg.topic[i] = msg.tag[val]\n});\nreturn msg;\n\nfunction querying(modul,datetime,value){\n    feed = 'INSERT INTO '+modul+\n        ' (datetime,val)'+\n        ' VALUES (\"'+datetime+'\",\"'+value+'\")'+\n        ' ON DUPLICATE KEY UPDATE '+\n        'val=\"'+value+'\"'\n    return feed\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["eae1a116.ba894","d25477b4.231d58"]]},{"id":"a3a9fb02.4b2ec8","type":"jquerify","z":"725009d8.8aa5f8","name":"/10 min","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\n\n// if(second%60 == 0 ){\nif(minute%10 == 00 && second == 00){\n    msg.rbe = true\n} else {\n    msg.rbe = false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["b3c15361.2f2d2","e14f6ba5.038d48"]]},{"id":"b3c15361.2f2d2","type":"switch","z":"725009d8.8aa5f8","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":120,"wires":[["80fc4f21.a8e26","1b74784b.978678","a019deab.d1cb6"]]},{"id":"80fc4f21.a8e26","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":80,"wires":[]},{"id":"e14f6ba5.038d48","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"eae1a116.ba894","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":200,"wires":[]},{"id":"8d7bbb6c.0f6788","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":240,"wires":[]},{"id":"6147c67d.6f0258","type":"mysql","z":"725009d8.8aa5f8","mydb":"37e868fa.1e99f8","name":"","x":780,"y":280,"wires":[[]]},{"id":"78326328.a49e0c","type":"jquerify","z":"725009d8.8aa5f8","name":"Query","func":"msg.topic = msg.payload\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["6147c67d.6f0258","45e814b9.f5927c"]]},{"id":"45e814b9.f5927c","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":280,"wires":[]},{"id":"d5cba5d0.4dcdc8","type":"jquerify","z":"725009d8.8aa5f8","name":"Query lim","func":"msg.topic = 'SELECT * FROM ct_weld_limit'\nreturn msg","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["230daf67.399ea"]]},{"id":"230daf67.399ea","type":"mysql","z":"725009d8.8aa5f8","mydb":"37e868fa.1e99f8","name":"","x":340,"y":240,"wires":[["15b7a9c7.cdf886","a3a9fb02.4b2ec8","556dd8c8.5a1c98","ef5a5a60.43c988"]]},{"id":"15b7a9c7.cdf886","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":240,"wires":[]},{"id":"556dd8c8.5a1c98","type":"jquerify","z":"725009d8.8aa5f8","name":"is alarm","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.body = \"\"\nmsg.rbe = false\nmsg.countParam = 0\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press']){\n    msg.body += \"<p>Pressure IN: <span style='color:red'>\"+parseFloat(msg.tag['CTInPress']).toFixed(2)+\"</span> bar</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.body += \"<p>Temperature IN: <span style='color:red'>\"+parseFloat(msg.tag['CTInTemp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press']){\n    msg.body += \"<p>Pressure OUT: <span style='color:red'>\"+parseFloat(msg.tag['CTOutPress']).toFixed(2)+\"</span> bar</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.body += \"<p>Temperature OUT: <span style='color:red'>\"+parseFloat(msg.tag['CTOutTemp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["f26b5164.6b393","c5cb290a.5d25b8"]]},{"id":"c5cb290a.5d25b8","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":340,"wires":[]},{"id":"858e8a2a.cad878","type":"jquerify","z":"725009d8.8aa5f8","name":"email setup","func":"msg = {\n    topic   : \"ALARM Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_ct_weld <symptomp.alarm@gmail.com>\",\n    to      : \"yonos@toyota.co.id, bunawan@toyota.co.id, romario@toyota.co.id\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nglobal.set('last_ct_weld_email', Date.parse(new Date()))\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["83475849.5630f8"]]},{"id":"f26b5164.6b393","type":"switch","z":"725009d8.8aa5f8","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":380,"wires":[["de24ab85.d64378"]]},{"id":"cc464b77.7b1198","type":"websocket out","z":"725009d8.8aa5f8","name":"","server":"792830aa.ce482","client":"","x":960,"y":120,"wires":[]},{"id":"1b74784b.978678","type":"jquerify","z":"725009d8.8aa5f8","name":"set ws","func":"msg.payload = msg.tag\nreturn msg\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["cc464b77.7b1198","78ae9a2.69d7164"]]},{"id":"78ae9a2.69d7164","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":80,"wires":[]},{"id":"de24ab85.d64378","type":"jquerify","z":"725009d8.8aa5f8","name":"last email","func":"if(!global.get('last_ct_weld_email')){\n    global.set('last_ct_weld_email', 0)\n}\nmsg.last_ct_weld_email = Date.parse(new Date()) - global.get('last_ct_weld_email')\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["1670fb2.90dbd05"]]},{"id":"1670fb2.90dbd05","type":"switch","z":"725009d8.8aa5f8","name":"","property":"last_ct_weld_email","propertyType":"msg","rules":[{"t":"gte","v":"1000*60*10","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["858e8a2a.cad878"]]},{"id":"ef5a5a60.43c988","type":"jquerify","z":"725009d8.8aa5f8","name":"is alarm","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.payload = {}\nmsg.payload['in'] = false\nmsg.payload['out'] = false\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press']){\n    msg.payload['in'] = true\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.payload['in'] = true\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press']){\n    msg.payload['out'] = true\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.payload['out'] = true\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["eeace401.34e0f8","adb81d58.ef8fd"]]},{"id":"eeace401.34e0f8","type":"websocket out","z":"725009d8.8aa5f8","name":"","server":"f12f4b7f.ed3958","client":"","x":290,"y":320,"wires":[]},{"id":"adb81d58.ef8fd","type":"debug","z":"725009d8.8aa5f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":280,"wires":[]},{"id":"2675eb21.cd0684","type":"bigsplitter","z":"6eef29c0.391298","name":"split","property":"topic","x":870,"y":280,"wires":[["54dfd905.404718","f165efbe.81e54"],[]]},{"id":"d25477b4.231d58","type":"bigsplitter","z":"725009d8.8aa5f8","name":"split","property":"topic","x":790,"y":200,"wires":[["8d7bbb6c.0f6788","78326328.a49e0c"],[]]}]